@import "tailwindcss";

body { 
  overscroll-behavior: none;
}
@theme {
  --font-main: "JetBrains Mono", monospace;

  --color-background: #000000;
  --color-foreground: #FFFFFF;
  --color-foreground-secondary: #A3A3A3;
  --color-off-black: #0B0C10;
  --color-grey-overlay: rgba(80,80,80);
  --color-primary: #B76E79;
  --color-red: #E2464A;
  --color-green: #2FA766;
  --color-block-border: rgba(48, 48, 48, 0.2);
  --color-privy-navy: #160B45;
  --color-privy-blueish: #D4D9FC;
  --color-privy-pink: #FF8271;
  --color-frac-dark-gray: #1b1b1c;
  --color-divider: #6B6C6E;
  --color-modal-border: #303030;

  --color-order-panel-bottom: rgba(183, 110, 121, 0.24);
  --color-order-panel-top: rgba(183, 110, 121, 0.00);

}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}